dashboard-lourd/xml-resources/web-service-references/ws_service/wsdl/localhost_8080/JeeEJB-war/ws_service.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="create" type="tns:create"/>

<xs:element name="createResponse" type="tns:createResponse"/>

<xs:element name="create_operation" type="tns:create_operation"/>

<xs:element name="create_operationResponse" type="tns:create_operationResponse"/>

<xs:element name="find_Compte_by_id" type="tns:find_Compte_by_id"/>

<xs:element name="find_Compte_by_idResponse" type="tns:find_Compte_by_idResponse"/>

<xs:element name="find_Employe_by_id" type="tns:find_Employe_by_id"/>

<xs:element name="find_Employe_by_idResponse" type="tns:find_Employe_by_idResponse"/>

<xs:element name="findall" type="tns:findall"/>

<xs:element name="findallResponse" type="tns:findallResponse"/>

<xs:element name="findall_employe" type="tns:findall_employe"/>

<xs:element name="findall_employeResponse" type="tns:findall_employeResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="remove_compte" type="tns:remove_compte"/>

<xs:element name="remove_compteResponse" type="tns:remove_compteResponse"/>

<xs:element name="retrait" type="tns:retrait"/>

<xs:element name="retraitResponse" type="tns:retraitResponse"/>

<xs:element name="tClients" type="tns:tClients"/>

<xs:element name="tComptes" type="tns:tComptes"/>

<xs:element name="tEmployes" type="tns:tEmployes"/>

<xs:element name="tOperations" type="tns:tOperations"/>

<xs:element name="versement" type="tns:versement"/>

<xs:element name="versementResponse" type="tns:versementResponse"/>

<xs:complexType name="versement">
<xs:sequence>
<xs:element name="sourceAccountNumber" type="xs:int"/>
<xs:element name="amount" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="versementResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="remove_compte">
<xs:sequence>
<xs:element name="arg0" type="tns:tComptes" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tComptes">
<xs:sequence>
<xs:element name="codeCli" type="tns:tClients" minOccurs="0"/>
<xs:element name="dateCr" type="xs:dateTime" minOccurs="0"/>
<xs:element name="numCpte" type="xs:int" minOccurs="0"/>
<xs:element name="numEmp" type="tns:tEmployes" minOccurs="0"/>
<xs:element name="solde" type="xs:double" minOccurs="0"/>
<xs:element name="typePte" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tClients">
<xs:sequence>
<xs:element name="codeCli" type="xs:int" minOccurs="0"/>
<xs:element name="nomCli" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tEmployes">
<xs:sequence>
<xs:element name="nomEmp" type="xs:string" minOccurs="0"/>
<xs:element name="numEmp" type="xs:int" minOccurs="0"/>
<xs:element name="numEmpSup" type="tns:tEmployes" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="remove_compteResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="create">
<xs:sequence>
<xs:element name="tComptes" type="tns:tComptes" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="find_Employe_by_id">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="find_Employe_by_idResponse">
<xs:sequence>
<xs:element name="return" type="tns:tEmployes" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findall">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findallResponse">
<xs:sequence>
<xs:element name="return" type="tns:tComptes" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="create_operation">
<xs:sequence>
<xs:element name="tOperations" type="tns:tOperations" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tOperations">
<xs:sequence>
<xs:element name="dateOp" type="xs:dateTime" minOccurs="0"/>
<xs:element name="montant" type="xs:double" minOccurs="0"/>
<xs:element name="numCpte" type="tns:tComptes" minOccurs="0"/>
<xs:element name="numEmp" type="tns:tEmployes" minOccurs="0"/>
<xs:element name="numOp" type="xs:int" minOccurs="0"/>
<xs:element name="typeOp" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="create_operationResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrait">
<xs:sequence>
<xs:element name="sourceAccountNumber" type="xs:int"/>
<xs:element name="amount" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retraitResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="find_Compte_by_id">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="find_Compte_by_idResponse">
<xs:sequence>
<xs:element name="return" type="tns:tComptes" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findall_employe">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findall_employeResponse">
<xs:sequence>
<xs:element name="return" type="tns:tEmployes" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>