dashboard-lourd/xml-resources/web-service-references/ws_service/wsdl/localhost_8080/JeeEJB-war/ws_service.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="ws_service">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/JeeEJB-war/ws_service?xsd=1"/>
</xsd:schema>
</types>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="createResponse">
<part name="parameters" element="tns:createResponse"/>
</message>
<message name="versement">
<part name="parameters" element="tns:versement"/>
</message>
<message name="versementResponse">
<part name="parameters" element="tns:versementResponse"/>
</message>
<message name="findall">
<part name="parameters" element="tns:findall"/>
</message>
<message name="findallResponse">
<part name="parameters" element="tns:findallResponse"/>
</message>
<message name="findall_employe">
<part name="parameters" element="tns:findall_employe"/>
</message>
<message name="findall_employeResponse">
<part name="parameters" element="tns:findall_employeResponse"/>
</message>
<message name="create_operation">
<part name="parameters" element="tns:create_operation"/>
</message>
<message name="create_operationResponse">
<part name="parameters" element="tns:create_operationResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="find_Compte_by_id">
<part name="parameters" element="tns:find_Compte_by_id"/>
</message>
<message name="find_Compte_by_idResponse">
<part name="parameters" element="tns:find_Compte_by_idResponse"/>
</message>
<message name="find_Employe_by_id">
<part name="parameters" element="tns:find_Employe_by_id"/>
</message>
<message name="find_Employe_by_idResponse">
<part name="parameters" element="tns:find_Employe_by_idResponse"/>
</message>
<message name="remove_compte">
<part name="parameters" element="tns:remove_compte"/>
</message>
<message name="remove_compteResponse">
<part name="parameters" element="tns:remove_compteResponse"/>
</message>
<message name="retrait">
<part name="parameters" element="tns:retrait"/>
</message>
<message name="retraitResponse">
<part name="parameters" element="tns:retraitResponse"/>
</message>
<portType name="ws_service">
<operation name="create">
<input wsam:Action="http://ws/ws_service/createRequest" message="tns:create"/>
<output wsam:Action="http://ws/ws_service/createResponse" message="tns:createResponse"/>
</operation>
<operation name="versement">
<input wsam:Action="http://ws/ws_service/versementRequest" message="tns:versement"/>
<output wsam:Action="http://ws/ws_service/versementResponse" message="tns:versementResponse"/>
</operation>
<operation name="findall">
<input wsam:Action="http://ws/ws_service/findallRequest" message="tns:findall"/>
<output wsam:Action="http://ws/ws_service/findallResponse" message="tns:findallResponse"/>
</operation>
<operation name="findall_employe">
<input wsam:Action="http://ws/ws_service/findall_employeRequest" message="tns:findall_employe"/>
<output wsam:Action="http://ws/ws_service/findall_employeResponse" message="tns:findall_employeResponse"/>
</operation>
<operation name="create_operation">
<input wsam:Action="http://ws/ws_service/create_operationRequest" message="tns:create_operation"/>
<output wsam:Action="http://ws/ws_service/create_operationResponse" message="tns:create_operationResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws/ws_service/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws/ws_service/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="find_Compte_by_id">
<input wsam:Action="http://ws/ws_service/find_Compte_by_idRequest" message="tns:find_Compte_by_id"/>
<output wsam:Action="http://ws/ws_service/find_Compte_by_idResponse" message="tns:find_Compte_by_idResponse"/>
</operation>
<operation name="find_Employe_by_id">
<input wsam:Action="http://ws/ws_service/find_Employe_by_idRequest" message="tns:find_Employe_by_id"/>
<output wsam:Action="http://ws/ws_service/find_Employe_by_idResponse" message="tns:find_Employe_by_idResponse"/>
</operation>
<operation name="remove_compte">
<input wsam:Action="http://ws/ws_service/remove_compteRequest" message="tns:remove_compte"/>
<output wsam:Action="http://ws/ws_service/remove_compteResponse" message="tns:remove_compteResponse"/>
</operation>
<operation name="retrait">
<input wsam:Action="http://ws/ws_service/retraitRequest" message="tns:retrait"/>
<output wsam:Action="http://ws/ws_service/retraitResponse" message="tns:retraitResponse"/>
</operation>
</portType>
<binding name="ws_servicePortBinding" type="tns:ws_service">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="versement">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findall">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findall_employe">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create_operation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find_Compte_by_id">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find_Employe_by_id">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="remove_compte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrait">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ws_service">
<port name="ws_servicePort" binding="tns:ws_servicePortBinding">
<soap:address location="http://localhost:8080/JeeEJB-war/ws_service"/>
</port>
</service>
</definitions>